.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.search_form{
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em; 
}


.search_form input{
    margin-right: 10px;
    width: 50%;
}

.noposts{
    text-align: center;
}


.noposts p{
 margin-bottom: 1.5em;
}

.noposts a{
    padding: 10px;
}


@media (max-width:750px){
    .home h2{
     font-size:1.2em;
    }
 
 }
   

@media (max-width:480px){
    .search_form input{
        font-size:0.5em;
    }
    .btn {
        font-size:0.5em;
    }
    
    .btn-dark{
        font-size:0.5em;    
    }
}
   
 



@media (max-width:450px){
   .home h2{
    font-size:0.8em;
   }

}
  